/*  ==========================================
    Table of Contents for Style guide
    ==========================================

    0.0  SASS Variables and Mixins
    1.0  General app styles

    10.0  WordPress overrides

============================================== */


/*  ==========================================
    0.0  Variables and Mixins
    ========================================== */

$color_primary_link: #126AFF;
$color_contrast_link: #E34A26;
$color_primary_copy: #333;
$color_orange: #FF9D35;

$font_family_primary: "museo-sans-rounded", "Helvetica Neue", "Helvetica", sans-serif;


@mixin user-select($option: none) {
  -webkit-user-select: $option;
  -moz-user-select: $option;
  -ms-user-select: $option;
  -o-user-select: $option;
  user-select: $option;
}

@mixin transition($type: all, $duration: .22s, $function: ease-in-out){
  -webkit-transition: $type $duration $function;
  -moz-transition: $type $duration $function;
  -o-transition: $type $duration $function;
  transition: $type $duration $function;
}

@mixin linear_gradient($first_color: rgba(0,0,0,0), $second_color:rgba(0,0,0,.25), $fallback_color: rgba(0,0,0,.3)){
  background: -moz-linear-gradient(top,  $first_color 0%, $second_color 100%), $fallback_color; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$first_color), color-stop(100%,$second_color)), $fallback_color; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $first_color 0%, $second_color 100%), $fallback_color; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $first_color 0%, $second_color 100%), $fallback_color; /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $first_color 0%, $second_color 100%), $fallback_color; /* IE10+ */
  background: linear-gradient(to bottom,  $first_color 0%, $second_color 100%), $fallback_color; /* W3C */
}

@mixin background-size-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

// For retina assets.
// Pulled from @Stammy: http://paulstamatiou.com/responsive-retina-blog-development-part-2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), 
  only screen and (-o-min-device-pixel-ratio: 13/10), 
  only screen and (min-resolution: 120dpi) {
    @content;
  }
}

@mixin bg-size($width: auto, $height: 100%) {
  -moz-background-size: $width $height;
  -webkit-background-size: $width $height;
  background-size: $width $height;
}

// Silly function to divide the width and height to save me 2 seconds
// whenever I need to calculate the halved retina background position
@function double-pos($w, $h) { @return $w*2 $h*2; }


// For tabelts and mid-sized mobile devices. Typically 54em.
@mixin mq-tablet {
  @media (max-width: 54em) {
    @content;
  } 
}

// For smartphones and personal (small) mobile devices. Typically 30em. 
@mixin mq-personal {
  @media  (max-width: 30em) {
    @content;
  }
}

/*  ==========================================
    1.0  General app styles
        (Includes things such as body, 
        tables, lists, headers, etc.)
    ========================================== */

html {
  font-family:$font_family_primary;
  font-size: 62.5%;
  line-height: 1.42;
}

body {
  font-size:1.5rem;
  color: #333;
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: $font_family_primary;
  font-weight: bold; 
}

h1 {
  a { text-decoration:none; }
  a:visited { color: $color_primary_link; }
}

p {
  margin: 0 0 1.5em 0;
  font-size:2.1rem;
  @include mq-personal { font-size: 1.8rem; }
}
p img { margin: 0; }

em, i { font-style: italic; }
strong, b { font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  background-color: transparent;
}

a { 
  color:$color_primary_link; 
  outline: 0;
  @include transition; 
}

a:visited { color: white; }
a:hover, a:focus { text-decoration: underline; @include transition; }
p a, p a:visited { line-height: inherit; }

ul li, ol li { margin-bottom: 1.5em; }

.full-width { width:100%; }

.button {
  margin: 1.5em 0;
  display: inline-block;
  padding: .75em 1.5em;
  background: $color_orange;
  border:1px solid $color_orange;
  color: #FFF;
  text-decoration: none;
  border-radius: 4px;
  outline: none;
  @include transition;

  &:hover { text-decoration: underline; background-color: lighten($color_orange, 10%); @include transition; }
  &:active { background-color: darken($color_orange, 10%); }
}

.button-outline {
  background-color:transparent;
  border-color: white;
  color:white;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.group {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.centered {
  text-align: center;
  margin: inherit auto;
}

.wrap {
  width:96%;
  max-width:800px;
  margin:0 auto;
  position:relative;

  p:last-of-type { margin-bottom:0; }

  @include mq-personal {
    width:92%;
  }
}

.mid-wrap { max-width: 530px; }

:-moz-placeholder           { font-size:1em; font-weight:300; }
::-moz-placeholder          { font-size:1em; font-weight:300; }
:-ms-input-placeholder      { font-size:1em; font-weight:300; }
::-webkit-input-placeholder { font-size:1em; font-weight:300; }

.bg-cover {
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
}

.overlay {
  display:block;
  width:100%;
  height:100%;
  z-index:1;
  position: absolute;
  top:0;
  left:0;
}

.site-header {
  position:absolute;
  top:4rem;
  left:0;
  width:100%;
  z-index:6;
}

.main-navigation {
  width:100%;
  text-align: right;

  ul.menu { margin: 0; padding:0 1em 0 0; }
  li { display:inline; list-style:none; }
  li a {
    display: inline;
    padding:.5em 1.5em;
    font-weight:500;
    text-decoration: none;

    &:hover { text-decoration:underline; }
    &:visited { color:white; }
  }

  li.current_page_item a { font-weight:700; }
  li.current_page_item a:hover { text-decoration:none; }
}

/*  ==========================================
    2.0  Home styles
    ========================================== */

.featured-header {
  position:relative;
  color:white;
  background-image: url('http://paulmederos.s3.amazonaws.com/culturecamp2015/home-featured.jpg');

  h1 { 
    color:white; 
    font-size:8rem;
    @include mq-personal { font-size: 3.2rem; }
  }

  .wrap { 
    border:none; 
    z-index:5; 
    margin:0 auto; 

    p {  }
  }

  p.featured-subtitle { margin-bottom: 1.5em; }

  .overlay {
    background-image: linear-gradient(-180deg, 
                                      rgba(255,157,52,0.85) 0%, 
                                      rgba(255,144,99,0.98) 100%); 
  }
}

section .wrap {
  padding: 8rem 0;
  border-top: 8px solid #F9F9F9;
  margin: 2.5rem auto;

  @include mq-personal { 
    margin: 2.5rem auto;
    padding:5rem 0;
  }
}

.intro .wrap { border:none; }

.beliefs {
  .content-highlight {
    background-color: #4A90E2;
    color:white;
    padding:9rem;
    border-radius:3px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    left: -17%;
    @include mq-personal { padding: 5rem; left:0; width:auto; }
  }

  p { 
    font-size: 1.8rem; 
    @include mq-personal { font-size: 1.5rem; } 
  }
}

.twitter-tweet { margin:4rem auto !important; }

.loved-it {
  margin:2.5rem auto;
  padding:1em 1.5em;
  background-color: #F23377;
  border-radius:3px;
  color:white;

  @include mq-personal { font-size: 1.5rem; } 
}

.event-details {
  position: relative;
  color:white;
  background-image: url('http://paulmederos.s3.amazonaws.com/culturecamp2015/bg-details.jpg');

  .wrap { 
    position:relative; 
    z-index: 5; 
    border:none;
  }

  .overlay { background: rgba(73,143,225,0.92); }
}

.content-well {
  color:white;
  background: rgba(0,0,0,0.10);
  border-radius: 4px;
  padding:1.5em 1em 1.5em;
  margin:4rem auto 0;
  max-width:368px;

  p { font-size: 1.8rem; }
  a { font-size: 1.5rem; color:white; }
  a:hover { color: $color_orange; }
}

.notify {
  .wrap { border:none; }
  p { color: $color_orange; }
  .wrap p { margin-bottom: 2em; }

  input[type="email"] {
    display: block;
    font-size:1.8rem;
    margin:2.5rem auto 1.8rem ;
    padding:.75em 2.5em;
    border-radius:4px;
    border:1px solid #E9E9E9; 
  }

  .button { 
    display: block;
    width:100%;
    max-width:190px;
    font-size:1.8rem;
    font-weight:500;
    margin:1.8rem auto;
    padding:.75em 1.5em;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);

    &:hover { box-shadow: 0 3px 5px rgba(0,0,0,.18); }
  }
}

/*  ==========================================
    10.0  WordPress overrides
    ========================================== */

// #wpadminbar { visibility:hidden; }

